name: Docker build and Publish
on:
  push:
    tags:
     - v*

env:
  DEBIAN_RELEASE: buster
  DOCKER_PWD: /root
  DOCKER_IMAGE: debian:${DEBIAN_RELEASE}

jobs:
  docker:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        include:
          - image: app
          - image: db

    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: "{{defaultContext}}:${{ matrix.image }}"
          platforms: linux/arm,linux/arm64
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/mattermost-${{ matrix.image }}:${{ github.ref_name }}
          build-args: MM_VERSION=${{ github.ref_name }}
